.registry {
  .buttons-container {
    margin-left: 20px;
    margin-bottom: 20px;

    .button {
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      border: 1px solid transparent;
      border-radius: 4px;
    }

    .add-event-button {
      border: 1px solid  #2e6da4;
      background-color: #337ab7;
      color: white;
    }
  }

  .event-timeline {
    display: flex;
    flex-direction: column-reverse;
  }
}
