<form #form="ngForm">
  <div class="form-group row">
    <label for="header">Заголовок</label>
    <input type="text" maxlength="60" [(ngModel)]="model.header" name="header" id="header" required #header="ngModel">
    <div *ngIf="header.errors?.required && submitted" class="danger">Элемент обязателен для заполнения</div>
  </div>

  <div class="form-group row">
    <label for="content">Содержание</label>
    <input [(ngModel)]="model.content" name="content" id="content" required #content="ngModel">
    <div *ngIf="content.errors?.required && submitted" class="danger">Элемент обязателен для заполнения</div>
  </div>

  <button type="button" class="button button-primary" (click)="onFormSubmit()">Добавить событие</button>
</form>
