html,
body {
  margin: 0;
  padding: 0;
  background-color: #edeef0;
}

.form-group {
  margin-bottom: 1rem;

  &.row {
    display: flex;
    flex-wrap: wrap;
  }

  & label {
    width: 40%;
  }

  & input,
  & select {
    width: 40%;
    border: 1px solid;
    border-radius: 4px !important;
    padding-left: 0.25rem;
  }

  & .danger {
    color: red;
  }
}

.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;

  &.button-primary {
    border: 1px solid #2e6da4;
    background-color: #337ab7;
    color: white;
  }

  &.button-danger {
    border: 1px solid #f14612;
    background-color: #e06218;
    color: white;
  }
}
